/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap';
@import 'app/scss/variable';
@import 'app/scss/colors';

* {
  font-family: $font-stack;
}

body {
  background-color: $light-gray;
}

.mouse-select {
  user-select: none;
}
