/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap';
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import 'app/scss/variable';
@import 'app/scss/colors';
@import 'app/scss/base';

* {
  font-family: $font-stack;
}

html,body {
  overflow: hidden;
}

body {
  background-color: $light-gray;
}

.mouse-select {
  user-select: none;
}

.sr-only {
  display: none;
}
